{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Success</h1>

    <p>You have successfully registered.</p>
    <p>Payment data id: {{ paymentDataId }}</p>
{% endblock %}
